{{ define "hreflang" }}
{{- $langs := .Languages }}
{{- if gt (len $langs) 1 }}
{{- $path := .Page.Path }}
{{- range $langs }}
{{- if .Active }}
        <link rel="alternate" hreflang="{{ .Code }}" href="{{ $path }}">
        <link rel="alternate" hreflang="x-default" href="{{ $path }}">
{{- else }}
        <link rel="alternate" hreflang="{{ .Code }}" href="/{{ .Code }}{{ $path }}">
{{- end }}
{{- end }}
{{- end }}
{{- end }}
