<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <meta name="description" content="{{ .Description }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    </head>
    <body>
        <header class="container-fluid">
            <hgroup>
            <nav>
                <ul>
                    <li>{{ .Title }}</li>
                </ul>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
            {{- if gt (len .Breadcrumbs) 1 }}
            <nav aria-label="breadcrumb">
                <ul>
                    {{- range $path, $name := .Breadcrumbs }}
                    <li><a href="{{ $path }}">{{ $name }}</a></li>
                    {{- end }}
                </ul>
            </nav>
            {{- end }}
            </hgroup>
        </header>
        <main class="container-fluid">
            <article>{{ .Content }}</article>
        </main>
    </body>
</html>
